<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>
<% if @task.completed %>
  <%= "☒ This task is completed" %>
<% else %>
  <%= "☐ This task is not completed" %>
<% end %>
</p>

<p><%= link_to 'Edit this task', edit_task_path(@task) %></p>
<p><%= link_to 'Back to list', tasks_path %></p>

